.navbar {
  background-color: var(--mantine-color-blue-9);
  height: 800px;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}
.activeLink {
  padding: calc(var(--mantine-spacing-xs));
  border-radius: 8px;
  background-color: #98aec01a;
  color: var(--mantine-color-white);

  cursor: pointer;
}
.link {
  padding: calc(var(--mantine-spacing-xs));
  cursor: pointer;
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  color: var(--mantine-color-blue-4);
}
